section.our-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vw 5vw;
}
section.our-products h3 {
  font-size: 2.6em;
  color: #623b1c;
}
section.our-products h6 {
  color: #623b1c;
  font-size: 1em;
}
