form {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #623b1c;
  min-width: 350px;
  margin-right: 20px
}
section.newsletter {
  text-align: center;
}
section.newsletter h3 {
  color: #623b1c;
  font-size: 2.5em;
}
section.newsletter p {
  color: #14120F;
  margin: 20px 0 30px;
}